<!-- package_list.html -->

{% extends 'base.html' %}
{% load static %}
{#{% block title %}#}
{#    Package List#}
{#{% endblock title %}#}

<h1> Package List</h1>

{% block css %}
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
{% endblock %}

{% block body %}
    <h1>Package List</h1>
    <ul>
        {% for package in packages %}
            <li><a href="{% url 'package_detail' package.pk %}">{{ package.destination }}</a></li>
        {% endfor %}
    </ul>
            <a href="{% url 'package_create' %}" style="margin-left: 20px;">Create New Package</a>
    <br><br><br><br>
{% endblock %}


