<!-- package_detail.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Package Detail
{% endblock %}


{% block css %}
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
{% endblock %}


{% block content %}
    <h1>{{ package.destination }}</h1>
         {#   <h2>Images</h2> #}
        <div class="image-container">
        {% if package.destination == 'Toronto' %}
            <!-- Display images for Toronto -->
            {% for image in montreal_images %}
                <img src="{% static 'img/montreal/' %}{{ image }}" alt="{{ package.destination }}">
            {% endfor %}
        {% endif %}       
        </div>
    <p>Description: {{ package.description }}</p>
    <p>Activities: {{ package.activities }}</p>
    <p>Price: {{ package.price }}</p>

    <a href="{% url 'package_list' %}" class="back-link">Back to Package List</a>
     <style>
        /* CSS styles for images and other elements */
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-container img {
            width: 200px;
            height: auto;
            margin: 1px;
        }
    </style>

{% endblock %}
